body {
  background-color: black;
}

h1 {
  color: navajowhite;
  text-align: center;
  font-size: 35px;
}

h3{
  color: lightslategrey;
  font-size: 30px;
  text-align: left;
  margin-left: 30px;
  
}

h4{
  color: lightsteelblue;
  font-size: 22px;
  text-align: left;
  margin-left: 22px;
  
}

p {
  color: linen;
  font-family: verdana;
  font-size: 20px;
  margin-left: 20px;
  margin-right: 20px;
}
table {
  color: snow;
  font-family: verdana;
  font-size: 20px;
  background-color:dimgrey;
  border:3px solid snow
 }
 
ul {
  color: linen;
  font-family: verdana;
  font-size: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

ol {
  color: linen;
  font-family: verdana;
  font-size: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

img {
	align: centre;
}

a {
 font-family: verdana;
}

a:link {
  color: ghostwhite;
  text-decoration-color: ghostwhite;
}

a:visited {
  color: gainsboro;
  text-decoration-color: gainsboro;
}

a:hover {
  color: honeydew;
  text-decoration-color: gainsboro;
}

a:active {
  color: ivory;
  text-decoration-color: ivory;
}